.details-section {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
}

.cover-img {
    /* width: 100px; */
    flex: 0 1 150px;
    margin: 40px;
    
}

.book-title {
    font-size: 1.2em;
    font-weight: bold;
}

.book-authors, 
.price, 
.book-snippet {
    font-size: .9em;
}

.book-info {
    width: 80%;
    margin: 20px;
}