.search-form {
    margin: 20px;
    width: 100%;
}

.search-row {
    background-color: lightgrey;
    padding: 1%;
    margin: 0 auto;
}

.search-filters {
    background-color: darkgrey;
    padding: 1% 25%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}